<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zilliz Chatbot Demo</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <h1 style="text-align: center; margin-top: 500px">Chat with Zilliz Chat</h1>
        <p style="text-align: center;">Powered by Confluent</p>
    </header>

    <main style="text-align: center; margin-top: 500px;">
        <form action="/chatbot" method="post">
            <input type="text" id="user_message" name="user_message" placeholder="Hi! 👋 It's great to see you!" style="width: 400px; height: 40px; font-size: 16px;">
            <input type="submit" value="Submit">
        </form>
        <div id="chatbot_response"></div>
    </main>

    <footer style="text-align: center; margin-top: 50px;">
        <!-- First Logo -->
        <img src="static/zilliz_alt-1.png" alt="Zilliz Logo" class="left-image">

        <!-- Second Logo -->
        <img src="static/confluent_logo.png" alt="Confluent Logo" class="right-image">
    </footer>
</body>
</html>
